<h1>Code Made This</h1>
<p>This file is located in /home/rails/app/views/home/index.html.erb</p>

<p>Sorry, K-Fed, I blew up your beautiful work.</p>

<p><a href="/home.html">Or did I?</a></p>

<% content_for :sidebar_left do %>
  <h3>sidebar-left</h3>
  <p>This is the code snippet you would use to add a left sidebar section on any given view file.  Clearly it needs some work.</p>
<% end %>
