<nav>
  <img class="logo" src="img/generic-logo.png" data-0="transform:rotate(0deg);" data-end="transform:rotate(360deg);">
  <%= render 'layouts/navigation_links' %>
  <a id="nav-toggle" href="#"><span></span></a>
</nav>
